body {
  background: black;
  margin: 0px;
  box-sizing: border-box;
}


  
 .container  {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post{
    background: white;
    margin-top: 50px;
    width: 500px;   
}

.post h4, div.post p{
   
    margin: 0;
    font-family: "Roboto", sans-serif;
    color:black;
   
}
.post-header{
   padding: 10px;
   margin: 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

.post-header-logo {
   display: flex;
   justify-content: center;
   align-items: center;
}

.post-header-logo i:first-child{
  font-size: 2rem;
}

.post-header-icon{
  font-size: 2rem;
}

.post-img img {
   width: 100%;
 }

.post-body p{
 padding: 5px;
 display: flex;

 }

.post-body-icons{
  display: flex;  
  justify-content: space-between;
  padding: 10px;
  font-size: 1.5rem;
}

